.title-bar {
    position: sticky;
    top: 0;
    background: background-color(yellow-dark);
    border-radius: 7px 7px 0 0;
    z-index: 5;

    &__title {
        padding: 7px 16px 9px;


        &-text {
            @include settings-font(small);
        }
    }
}
