.checkbox {
    &-cont {
        display: inline-flex;
        align-items: center;
        gap: 0 8px;
        padding: 7px 0;
    }
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid color-border(grey);
    border-radius: border-radius(small);

    &:hover {
        background-color: background-color(grey);
        border-color: color-border(dark-grey);
        cursor: pointer;
    }

    &:checked {
        background-image: mask-image(check);
        background-size: 20px;
        border: none;
    }

    &__label {
        cursor: pointer;
    }
}