.properties {
    display: inline-flex;
    flex-direction: column;
    gap: 8px 0;

    &__title {
        font-weight: 600;
        @include settings-font(medium);
    }

    &__data {
        border: 1px solid color-border(grey);
        padding: 6px 11px 8px 15px;
        display: inline-flex;
        align-items: center;
        gap: 0 10px;
        border-radius: border-radius(small);
        max-width: min-content;
        cursor: pointer;

        &-input {
            display: inline-block;
            border: none;
            min-width: 476px;
            height: 20px;
            @include settings-font(medium);
            font-family: 'Sergoe UI';
            outline: none;
        }

        &-dropdown {
            min-width: 450px;
            position: relative;

            &-list {
                display: none;
                list-style: none;
                position: absolute;
                top: 30px;
                left: -16px;
                z-index: 1;
                width: 504px;

                &_active {
                    display: block;
                }

                &-item {
                    border: 1px solid color-border(grey);
                    padding: 6px 11px 8px 15px;
                    border-radius: border-radius(small);
                    background: background-color(white);
                    cursor: pointer;

                    &:not(:last-child) {
                        border-bottom: none;
                    }
                }
            }
        }

        &-arrow {
            @include settings-icon(16px, pointer);
            @include get-icon(chevron, color-general(black));

            &_active {
                transform: rotate(180deg);
            }
        }
    }
}