.user-input {
    &-cont {
        border: 1px solid color-border(grey);
        padding: 6px 11px 8px 15px;
        display: inline-flex;
        align-items: center;
        border-radius: border-radius(small);
        max-width: min-content;
    }

    display: inline-block;
    border: none;
    min-width: 476px;
    height: 20px;
    @include settings-font(medium);
    font-family: 'Sergoe UI';
    outline: none;
}